<h1>Componente de coches</h1>
<style>
div {
    float:left;
    }
.listado {
    margin-left: 30px;
}
form{
    width: 200px;
}
input [type="text"], span{
    display:block;
    width: 100%;
}

</style>
<div>

<form #formCoche="ngForm" (ngSubmit)="onSubmit(); formCoche.reset()">
    <p><label>Nombre</label>
    <input type="text" name="nombre" #nombre="ngModel" 
    [(ngModel)]="coche.nombre" required></p>
    <span *ngIf="nombre.touched && !nombre.valid"> 
        El nombre es incorrecto
    </span>

    <p> <label>Caballaje</label>
    <input type="text" name="caballaje" #caballaje="ngModel"
     [(ngModel)]="coche.caballaje" required pattern="[0-9]+"></p>
     <span *ngIf="caballaje.touched && !caballaje.valid"> 
            El caballaje es incorrecto
        </span>

    <p> <label>Color</label>
    <input type="text" name="color" #color="ngModel" 
    [(ngModel)]="coche.color" required pattern="[a-zA-Z#]+"></p>
    <span *ngIf="color.touched && !color.valid"> 
            El color es incorrecto
        </span>

    <br/><input type="submit" value="Guardar" [disabled]="!formCoche.form.valid">
</form>
</div>
<div class="listado">
    <h4>Listado de coches</h4>
    <ul>
        <li *ngFor="let coche of coches">
            {{coche.nombre}} - {{coche.caballaje}} - {{coche.color}}
        </li>
    </ul>
</div>
<div class="listado">
<h3>Listado de articulos</h3>
<ul *ngIf="articulos">
    <li *ngFor="let articulo of articulos">
        {{articulo.title}} - {{articulo.id}} 
    </li>
</ul>
<span *ngIf="!articulos">Cargando listado....</span>
</div>